/* Resets
--------------------------------------------------------------------------------*/

ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, body, html, p, blockquote, 
fieldset, input {
	margin: 0;
	padding: 0;
}

a img {
	border: 0;
}

a {
	text-decoration: none;
}
/* General Styling and Structure
--------------------------------------------------------------------------------*/

body {
	font-family: 'Droid Sans', sans-serif;
	font-size: 15px;
	color:#444444;
	line-height:26px;
	background:url(header-footer-bg.jpg) repeat;
}

.container {
	margin: 0 auto;
	width: 940px;
}

#header-wrap,
#banner-wrap,
#nav-wrap,
#nav-border-top,
#nav-border-bottom,
#main-wrap,
#footer-wrap,
#footer-inner-wrap,
#outer-banner-wrap
{
	background: url(content-bg.jpg) repeat;
        width:100%;
}

a {
	color: #12d4c5;
}

a:hover {
	color: #009b8f;
}

h2 {
	font-size: 30px;
	padding: .5em 0 .2em 0;
	line-height: 1.2;
	font-family: 'Oswald', sans-serif;
	font-weight:bold;
	text-transform:uppercase;
	color: #333333;
}

p {
	line-height: 1.5;
	padding: .5em 0;
}

div#content {min-height:400px;}

/* Buttons
--------------------------------------------------------------------------------*/

/* Small structure & regular style */

.wsite-button {
	height: 36px;
	display: inline-block;
	padding: 0px 30px 0px 0px;
	background: url(http://wiigeckocodes.github.io/test/assets/button-highlight.png) no-repeat 100% -108px;
}

.wsite-button:hover {
	background-position: 100% -144px;
}

.wsite-button:active {
	background-position: 100% -180px;
}

.wsite-button-inner {
	color: #fff !important;
    height: 36px;
	line-height: 36px;
	display: block;
	font-size: 14px;
	padding: 0px 0px 0px 30px;
	text-shadow:0 -1px 1px rgba(0,0,0,0.8);
	background: url(http://wiigeckocodes.github.io/test/assets/button-highlight.png) no-repeat 0px 0px;
}

.wsite-button:hover .wsite-button-inner {
	background-position: 0px -36px;
}

.wsite-button:active .wsite-button-inner {
	background-position: 0px -72px;
}

/* Large structure & regular style  */

.wsite-button-large {
	color: #fff !important;
	height: 46px;
	background: url(http://wiigeckocodes.github.io/test/assets/button-highlight-large.png) no-repeat 100% -144px;
	padding: 0px 27px 0px 0px;
}

.wsite-button-large:hover {
	background-position: 100% -192px;
}

.wsite-button-large:active {
	background-position: 100% -240px;
}

.wsite-button-large .wsite-button-inner {
	height: 46px ;
	line-height: 46px;
	padding: 0px 0px 0px 27px;
	background: url(http://wiigeckocodes.github.io/test/assets/button-highlight-large.png) no-repeat 0px 0px;
}

.wsite-button-large:hover .wsite-button-inner {
	background-position: 0px -48px;
}

.wsite-button-large:active .wsite-button-inner {
	background-position: 0px -96px;
}


/* Highlighted styles */

.wsite-button-highlight {
	background-image: url(http://wiigeckocodes.github.io/test/assets/button_teal.png);
}

.wsite-button-highlight .wsite-button-inner {
	background-image: url(http://wiigeckocodes.github.io/test/assets/button_teal.png);
}

.wsite-button-large.wsite-button-highlight {
	background-image: url(http://wiigeckocodes.github.io/test/assets/button_large_teal.png);
}

.wsite-button-large.wsite-button-highlight .wsite-button-inner {
	background-image: url(http://wiigeckocodes.github.io/test/assets/button_large_teal.png);
}
