
body {
	color: #000000;
	background-color: #FFFFFF;
	font-family: sans-serif;
}

a:link {
	color: #404040;
}
a:visited {
	color:#202020;
}

header {
  background-color: #77FFFF;
  font-family:  serif;
  text-align: center;
}

nav {
  background-color: #77FFFF;
  float: left;
  max-width: 500px;
}

section {
  text-align: justify;
  background-color: #FFFFFF;
  font-size: 110%;
  float: left top;
  display: table-cell;
}

aside {
  background-color: #77FFFF;
  float: right;
  max-width: 300px;
}
html
{
    height: 100% !important;
}
body
{
    height: 100% !important;
    margin: 0px;
    cursor:url("http://wiigeckocodes.github.io/wii.cur"), default;
    color: #000000;
}
.ShoutboxPM {
    background-color: #9CCAED;
    color: #000000;
}
.ShoutboxPM a {
    color: #821818;
}
.ShoutDateTime {
    color: #DDDDDD;
}
.paging{
    clear:both;
    width:100%;
    margin:10px 0 15px;
    text-align:center;
}
.paging a{
    text-decoration:none;
    font-weight:bold;
}
.paging ul{
    margin:0;
    padding:0;
    text-align:center;
}
.paging ul li{
    display:inline;
    font-size:1em;
}

.paging ul li a{
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    -moz-background-clip:border;
    -moz-background-inline-policy:continuous;
    -moz-background-origin:padding;
    background:#fff none repeat scroll 0 0;
    border:1px solid #417AA3;
    color:#000;
    display:inline;
    font-size:14px;
    margin-right:6px;
    text-decoration:none;
    line-height:28px;
    padding:3px 8px;
}
.paging ul li a:hover{
    border:1px solid #fff;
    color:#fff;
    background-color:#417AA3;
}
.paging .current{
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    background-color:#417AA3;
    display:inline;
    font-size:14px;
    margin-right:6px;
    color:#fff;
    font-weight:700;
    line-height:28px;
    padding:4px 9px;
}
.ShoutDateTime {
    color: #000000;
}
.ForumAdmin {
    color: red;
}
.ForumCoAdmin {
    color: blue;
}
.ForumModerator {
    color: green;
}
table {
	font-family: Verdana, Arial, Sans-Serif;
	font-size: 13px;
}
input, select, textarea {
    background-color: #CCCCCC;
    color: #000000;
    font-weight: bold;
    border: 2px solid #518FA6;
}
input[type=text],
input[type=password],
textarea
{
    -moz-border-radius:3px 3px 3px 3px;
}
input[type=text]:focus,
input[type=password]:focus,
select:focus,
textarea:focus
{
    outline:none;
    border-color:#518FA6!important;
    box-shadow:0 0 8px #518FA6;
    -moz-box-shadow:0 0 8px #518FA6;
    -webkit-box-shadow:0 0 8px #518FA6;
}
::-moz-selection {
	background:#1D86B1;
	color:#000;
}
.wrapper
{
    height: 100% !important;
    width: 100%;
}
.chromestyle{
    padding-bottom:3px;
}
.header
{
    background-color: #636464;
    background-image: url(/site_themes/default/topbg.png);
    height: 136px;
}
.banner
{
    background-image: url(/site_themes/default/banner.png);
    height: 136px;
    width: 613px;
    vertical-align: bottom;
    padding-bottom: 2px;
}
.bannerdiv
{
    background-color: #99A1AF;
    background-image: url(/site_themes/default/topbg.png);
    height:136px;
    left:0px;
    margin:0;
    padding:0;
}
.bottombanner
{
    
    /*background-image: url(/site_themes/default/bottom.jpg);*/
    height: 79px;
    width: 613px;
}
.footer
{
    background-color: #636464;
    background-image: url(/site_themes/default/bottombg.png);
    height: 77px;
}
.footer td
{
    color: white !important;
}
.main
{
  background-color: #BDBDBD;
    background-image: url(/site_themes/default/background.jpg);*/
    text-align: center;
}
fieldset
{
    border: 1px solid black;
}
legend
{
    font-size: 13pt;
    color: #AA0000;
}
a
{
    color: #2D5369;
    cursor:url("http://wiigeckocodes.github.io/wii-hover.cur"), default;
    text-decoration: none;
}
a:hover
{
    color: #537284;
}


a .image
{
    border: 4px solid #000000;
}
a:hover .image,
a:active .image
{
    border: 4px solid #379AC1;
}

.banner a, .submenu a
{
    color: #FFFFFF !important;
}
.banner a:hover, .submenu a:hover
{
    color: #B5CCDF !important;
}
